{{#if heading}}
<section class="visiting__card">

  <a class="visiting__card--link" href="{{link}}" target="_blank">
    <img class="visiting__card--img" src={{image}} alt="image: {{heading}}" width="440" height="285">
  </a>

  <div class="visiting__card--description">
    <h3 class="visiting__card--title underline__title">
      {{heading}}
    </h3>
    <p class="visiting__card--text">
      360° Virtual Tour
    </p>
    <p class="visiting__card--minitext">
      Google Street Panorama View
    </p>
  </div>
  <!-- /.visiting__card-description -->

</section>
<!-- /.visiting__card -->
{{else}}
<p>Data of this section is lost</p>
{{/if}}